{{#if this.isVisible}}
<div
  class="alert alert-{{this.typeClass}} {{if this.isDismissable "alert-dismissible"}}"
  role="alert"
  ...attributes
>
  {{yield}}
  {{#if this.isDismissable}}
  <button
    {{on "click" @onDismiss}}
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close">
  </button>
  {{/if}}
</div>
{{/if}}
