<a
  href="https://tbc.wowhead.com/item={{@id}}"
  class="wowhead-link"
  target="_blank"
  rel="noopener noreferrer"
  data-wowhead="domain=tbc&item={{@id}}"
  {{did-insert this.refreshWowheadTooltips}}
>
  {{@name}}
</a>
